<div class="form-group">
    <input 
        [class.is-invalid]="ngControl.touched && ngControl.invalid"
        [formControl]="$any(ngControl.control)" 
        type={{type}} 
        class="form-control" 
        placeholder={{label}}>
        <div *ngIf="ngControl.control?.errors?.required" class="invalid-feedback">please enter a {{label }}</div>
        
        <div *ngIf="ngControl.control?.errors?.minlength" class="invalid-feedback">
          {{label }} must be at least {{ngControl.control?.errors?.minlength['requiredLength']}}</div>

        <div *ngIf="ngControl.control?.errors?.maxlength" class="invalid-feedback">
          {{label }} must be at most {{ngControl.control?.errors?.maxlength['requiredLength']}}</div>

        <div *ngIf="ngControl.control?.errors?.isMatching" class="invalid-feedback">
            password do not match.</div>
</div>

