<body style="margin-top: -100px !important">
    <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off" class="form-signin">
        <h1 class="h3 font-weight-normal text-center">Register</h1>
        <hr>
        <div class="from-group">
            <label class="control-label" style="margin-right: 10px">I am a:</label>
            <label class="radio-inline">
                <input type="radio" value="male" formControlName="gender"> Male
            </label>
            <label class="radio-inline">
                <input type="radio" value="female" formControlName="gender" class="ml-3"> Female
            </label>
        </div>

        <app-text-input [formControl]='$any(registerForm.controls["username"])' [label]='"Username"'></app-text-input>

        <app-text-input [formControl]='$any(registerForm.controls["knownAs"])' [label]='"known As"'></app-text-input>

        <app-date-input [formControl]='$any(registerForm.controls["dateOfBirth"])' [label]='"Date Of Birth"'
            [maxDate]="maxDate"></app-date-input>

        <app-text-input [formControl]='$any(registerForm.controls["city"])' [label]='"City"'></app-text-input>

        <app-text-input [formControl]='$any(registerForm.controls["country"])' [label]='"Country"'></app-text-input>

        <app-text-input [formControl]='$any(registerForm.controls["password"])' [type]='"password"'
            [label]='"Password"'></app-text-input>

        <app-text-input [formControl]='$any(registerForm.controls["confirmPassword"])' [type]='"password"'
            [label]='"Confirm Password"'></app-text-input>

        <div class="row" *ngIf="validationErrors.length>0">
            <ul class="text-danger">
                <li *ngFor="let error of validationErrors">
                    {{error}}
                </li>
            </ul>
        </div>
        <button [disabled]='!registerForm.valid' class="btn btn-lg btn-primary btn-block mb-3" type="submit">Sign up</button>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                if you have an account? <a href="login">Sign in</a>
            </div>
            <div class="d-flex justify-content-center">
                <a href="forgetpassword">Forgot your password?</a>
            </div>
        </div>
        <p class="mt-5 mb-3 text-muted text-center">© 2021</p>
    </form>
</body>