<body class="text-center">
      <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off" class="form-signin">
        <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
        <label for="username" class="sr-only">UserName</label>
        <input [(ngModel)]="model.username" name="username" type="text" id="username" class="form-control mb-3" placeholder="Username" required="" autofocus="">
        <label for="password" class="sr-only">Password</label>
        <input [(ngModel)]="model.password" name="password" type="password" id="password" class="form-control" placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Sign up</button>
        <div class="card-footer">
                  <div class="d-flex justify-content-center links">
                      if you have an account? <a href="login">Sign in</a>
                  </div>
                  <div class="d-flex justify-content-center">
                      <a href="forgetpassword">Forgot your password?</a>
                  </div>
              </div>
        <p class="mt-5 mb-3 text-muted">© 2021</p>
      </form>
  </body>